<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.keyboardwarriors">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".BossTransitionHard"></activity>
        <activity android:name=".BossTransitionMedium" />
        <activity android:name=".BossTransitionEasy" />
        <activity android:name=".EasyModeBoss" />
        <activity android:name=".HardMode" />
        <activity android:name=".MediumMode" />
        <activity android:name=".MediumModeBoss" />
        <activity
            android:name=".OnToEasyMode"
            android:theme="@style/PopMe" />
        <activity
            android:name=".popup2"
            android:theme="@style/PopMe" />
        <activity
            android:name=".TutorialPopup"
            android:theme="@style/PopMe" />
        <activity android:name=".GameOver" />
        <activity android:name=".TutorialScreen" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EasyMode"
            android:theme="@style/NoTitleBar" />
        <activity android:name=".BossTransitionEasy"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".BossTransitionMedium"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".BossTransitionHard"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".OptionScreen" />
        <activity android:name=".Credits" />
        <activity android:name=".VictoryScreen" />
        <activity android:name=".GameScreen" />
        <activity android:name=".TitleScreen" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>